<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $school.ShortName #}_联系方式_报名电话</title>
<meta name="keywords" content="{# $school.ShortName #}报名地址，{# $school.ShortName #}电话"/>
<meta name="description" content="{# $school.ShortName #}的联系方式，报名地址，咨询电话"/>
<link href="http://www.houxue.com/xuexiao/style/{# $school.DisplayStyle #}/style.css" type="text/css" rel="stylesheet" />
<style type="text/css">#baidumap{height:300px; width:670px; border:1px solid gray;}</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
    {# 'PCHead'|get_common_config #}
</head>

<body>
<script type="text/javascript">//(function(w){if(w.screen.availWidth>=1280)document.body.className='wrap_1280';})(window);</script>
{# include file="head.htm" #}
<div id="content">
	{# include file="left.htm" #}
    <div id="main">
    	<div class="right_box1">
        	<h2 class="right_title"><span><img align="left" src="/xuexiao/style/{# $school.DisplayStyle #}/images/js_left.png" /></span><span><img align="right" src="/xuexiao/style/{# $school.DisplayStyle #}/images/js_right.png" /></span>
        	<div class="title_bg">联系我们</div>
        	</h2>
            <ul class="box_con">
				<li>
                <div class="box_con_js">
                <ul>
            	 <li>
                    <div class="colora">学校名称：</div>
                    <div class="colorb"><a href="http://www.houxue.com/xuexiao/{# $school.LoginId #}/">{# $school.Name #}</a></div>
                </li>
                <li>
                    <div class="colora">学校地址：</div>
                    <div class="colorb">{# $school.Addr #} </div>
                </li>
                <li>
                    <div class="colora">交通线路：</div>
                    <div class="colorb">{# $school.Bus #}</div>
                </li>
                <li>
                    <div class="colora">联系人：</div>
                    <div class="colorb">{# $school.Linkman #}</div>
                </li>
                <li><div class="colora">免费咨询热线：</div>
                    <div  class="pt10 pl20">

					{# if $school.WorkphoneShow != 1 #}
					<span class="red1  pat4">
					<a onclick="javascript:{# if $school.WorkphoneToOrder === '0' #}show_float_workphone();{# elseif $school.WorkphoneToOrder == 1 #}show_float_msg();{# elseif $school.WorkphoneToOrder == 2 #}show_float_workphone();{# else #}document.getElementById('s_workphone').style.display='';{# /if #}var p=new Array();p['areaid']='{# $school.AreaId #}';p['categoryid']='{# $school.CategoryId #}';p['loginid']='{# $school.LoginId #}';p['type']='1';p['courseid']='0';p['item']='{# $school.Name #}';p['column']='Phone';p['expend']='0'; school_summery_log(p);" href="javascript:void(0);" id="a_workphone5"><img src="/xuexiao/style/1/images/tel_1.jpg" width="116" height="25" alt="查看{# $school.ShortName #}的报名电话"/></a>
					</span>
					{# /if #}
					{# if $area.Path.1.Workphone != "" && $school.WorkphoneShowArea == 1 #}
						<span class="red1 pat4" id="s_workphone" style="font-size:16px;padding-top:2px;">{# $area.Path.1.Workphone #} </span>
					{# else #}
						{# if $school.WorkphoneShow == 1 #}
							<span class="red1 pat4" id="s_workphone1" style="font-size:16px;">{# $school.Workphone #} </span>
						{# else #}
							{# if $debug == 1 #}
							<a onclick="javascript:document.getElementById('s_workphone1').style.display='';var p=new Array();p['areaid']='{# $school.AreaId #}';p['categoryid']='{# $school.CategoryId #}';p['loginid']='{# $school.LoginId #}';p['type']='1';p['courseid']='0';p['item']='{# $school.Name #}';p['column']='Phone';p['expend']='0'; school_summery_log(p);" href="javascript:void(0);" id="a_workphone5"><img src="/xuexiao/style/1/images/tel_1.jpg" width="116" height="25" alt="查看{# $school.ShortName #}的报名电话"/></a>
							<span class="red1 pat4" id="s_workphone1" style="display:none;font-size:16px;">{# $school.Workphone #} </span>
							{# /if #}
						{# /if #}
					{# /if #}



					</div>
                    <div id="baidumap" class="box_con_js mt10" title="学校位置地图"></div><br />
                </li>
                </ul>

                </div>
				</li>


         	</ul>


      </div>
  </div>
</div>
{# include file="foot.htm" #}
{# 'PCStat'|get_common_config #}
</body>
</html>

<SCRIPT LANGUAGE="JavaScript">
<!--

		{# if $school.BaiduMapPointLng > 0 && $school.BaiduMapPointLat > 0 #}
			var map = new BMap.Map("baidumap");
			var mapPoint = new BMap.Point({# $school.BaiduMapPointLng #}, {# $school.BaiduMapPointLat #});
			map.centerAndZoom(mapPoint, 12);
			map.enableScrollWheelZoom();
			var mapMarker = new BMap.Marker(mapPoint);
			var mapLable = new BMap.Label("{# $school.ShortName #}");
			var mapSize = new BMap.Size(18,0);
			mapLable.setOffset(mapSize);
			mapMarker.setLabel(mapLable);
			mapMarker.setTitle("{# $school.Name #}");
			map.addOverlay(mapMarker);

			{# foreach key=rownum item=row from=$sublist #}
			{# if $row.BaiduMapPointLng > 0 && $row.BaiduMapPointLat > 0 #}
				var mapPoint = new BMap.Point({# $row.BaiduMapPointLng #}, {# $row.BaiduMapPointLat #});
				var mapMarker = new BMap.Marker(mapPoint);
				var mapLable = new BMap.Label("{# $row.SubName #}");
				var mapSize = new BMap.Size(18,0);
				mapLable.setOffset(mapSize);
				mapMarker.setLabel(mapLable);
				mapMarker.setTitle("{# $row.SubName #}");
				map.addOverlay(mapMarker);

			{# /if #}
			{# /foreach #}
		{# else #}
		{# /if #}
//-->
</SCRIPT>