<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $school.Name #}的评论</title>
<link href="http://www.houxue.com/xuexiao/style/{# $school.DisplayStyle #}/style.css" type="text/css" rel="stylesheet" />
    {# 'PCHead'|get_common_config #}
</head>
<body>
<script type="text/javascript">//(function(w){if(w.screen.availWidth>=1280)document.body.className='wrap_1280';})(window);</script>
{# include file="head.htm" #}
<div id="content">
	{# include file="left.htm" #}
    <div id="main">

        <div class="right_box4">
        	<h2 class="right_title"><span><img align="left" src="/xuexiao/style/{# $school.DisplayStyle #}/images/js_left.png" /></span><span><img align="right" src="/xuexiao/style/{# $school.DisplayStyle #}/images/js_right.png" /></span>
       	  <div class="title_bg">学员点评</div></h2>
            <ul class="box_con" style="font-size:12px; background:#fff;">
            	<li>
                	<div class="box4_left">
                    	<div class="box4_left_con">
                       		<div class="con_left">
                           		<p class="fs25 fb pt10 tac">学员满意度</p>
								<p class="tac c66">来自于 {# $CountComments.PeopleNums|default:0 #} 人点评</p>
							</div>
							<div class="con_right pat4">{# $CountComments.AvgSatisfaction|floor #}%</div>
                        </div>
                    </div>
                </li>

                <li class="pl_line" ></li>
				{# foreach key=rownum item=row from=$commentlist #}
                <li class="clear_li{# if $rownum % 2 == 1 #} bg2{# /if #}">
                	<div class="listleft fl" >
                    	<ul>
                        	<li class="666">{# $row.Phone|truncate:7:"" #}****</li>
                            <li class="666">{# $row.Dtt|date_format:"%Y-%m-%d" #}</li>
                        </ul>
                  </div>
                  <div class="listright fr">
                  		<ul>
                       	  <li class="c99">
                           	  <div class="w1">满意度<span class="red fb"> {# $row.Satisfaction #}%</span></div>
                              <div class="w1">
                                  <p>学校环境：{# $row.Vote1|star2text #}</p>
                              </div>
                                <div class="w1">
                                  <p>课程性价：{# $row.Vote2|star2text #}</p>
                              </div>
                                <div class="w1">
                                  <p>老师教学：{# $row.Vote3|star2text #}</p>
                              </div>
                                <div class="w1">交通便利：{# $row.Vote4|star2text #}</div>
                                <div class="w2 c33">{# $row.Content #}</div>
                          </li>
                    </ul>
                  </div>
                </li>
				{# /foreach #}
            </ul>

			{# if $school.DisplayAd != 'no' #}
				<script type="text/javascript"><!--
				google_ad_client = "pub-7576374042341131";
				google_ad_width = 728;
				google_ad_height = 90;
				google_ad_format = "728x90_as";
				google_ad_type = "text_image";
				//-->
				</script> <script type="text/javascript"
				  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
				</script>
			{# /if #}
        </div>
</div>
{# include file="foot.htm" #}
    {# 'PCStat'|get_common_config #}
</body>
</html>
