<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $school.ShortName #}-求学招生</title>
<meta name="keywords" content="{# $school.ShortName #}求学招生"/>
<meta name="description" content="{# $school.ShortName #}的最新求学招生"/>
<link href="http://www.houxue.com/xuexiao/style/{# $school.DisplayStyle #}/style.css" type="text/css" rel="stylesheet" />
    {# 'PCHead'|get_common_config #}
</head>

<body>
<script type="text/javascript">//(function(w){if(w.screen.availWidth>=1280)document.body.className='wrap_1280';})(window);</script>
{# include file="head.htm" #}
<div id="content">
	{# include file="left.htm" #}
    <div id="main">
<!--right_box1-->
    	<div class="right_box1">
        	<h2 class="right_title"><span><img align="left" src="/xuexiao/style/{# $school.DisplayStyle #}/images/js_left.png" /></span><span><img align="right" src="/xuexiao/style/{# $school.DisplayStyle #}/images/js_right.png" /></span>
        	<div class="title_bg">求学招生</div>
        	</h2>
            <div class="box_con ">
			{# foreach key=rownum item=row from=$qxzsList #}
				<div class="fs14 mt15 ml10"><span class="date fr c66 mr6">发布日期：{# $row.Dtt|date_format:"%Y-%m-%d" #}</span><em class="c06f fs16">@</em> {# if $row.Name #}{# $row.Name #}{# else #}{# $row.Phone|truncate:6:"" #}*****{# /if #}</div>
				<div class="qx_main_con ml10">
					<div class="qx_jt"><img  src="/xuexiao/style/1/images/jt.png" /></div>
					<div class="qx_dd qx_ask">{# $row.Content|myfiltercontent #}</div>
				</div>
			{# /foreach #}
			</div>
      </div>
	 <div class="qxzs_page">
           	  {#pager rowcount=$pager.rowcount_all show='page' limit=$pager.limit txt_prev="上一页" txt_next="下一页" posvar=$pager.posvar forwardvars=$pager.forwardvars shift=$pager.shift txt_pos=$pager.txt_pos  txt_first=$pager.L_MORE class_num="pager_class_num" class_numon="pager_class_numon" class_text="f1"#}
            </div>
  </div>
</div>
{# include file="foot.htm" #}
{# 'PCStat'|get_common_config #}
</body>
</html>
