<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $school.ShortName #}学校介绍</title>
<meta name="keywords" content="{# $school.Name #}，{# $school.ShortName #}，{# $school.ShortName #}怎么样，{# $school.ShortName #}如何"/>
<meta name="description" content="{# $school.ShortName #}学校介绍：{# $school.Intro|truncateex:100:'utf-8':''|trim|strip_tags #}。"/>
{# include file="css.htm" #}
<script type="text/javascript" src="http://www.houxue.com/js/jquery/jquery.min.js"></script>
    {# 'PCHead'|get_common_config #}
</head>

<body>

{# include file="head.htm" #}
<div class="container mt10">
  <div >

      <div class="right_box2">
   		<div class="title_bg "><span class="more">当前位置：首页> 关于我们</span><h2 class="title1" >关于我们</h2></div>
        <div class="bd r_con2" >
			
			<img class="js_img"  src="{# if $school.LogoImageId #}http://www.houxue.com/loadimage.php?id={# $school.LogoImageId #}{#else#}http://www.houxue.com/images/school_logo_example.gif{#/if#}" alt="{# $school.Name #}"  width="213" height="158" />
			
			<p class="tm">{# $school.Intro #}</p>
        	<div class="mt10 clear">
        	<ul>
            	<li class="colora">学校名称：</li>
                <li>{# $school.Name #}</li>
                <li class="colora">学校地址：</li>
                <li>{# $school.Addr #} </li>
                <li class="colora">交通线路：</li>
                <li>{# $school.Bus #}</li>
                <li class="colora">联系人：</li>
                <li>{# $school.Linkman #}</li>
                <li class="colora">联系电话：</li>
                <li class="tel1">{# $school.Workphone #}</li>
            </ul>
        </div>
        </div>


      </div>
    </div>
</div>
{# include file="foot.htm" #}
{# 'PCStat'|get_common_config #}
</body>
</html>
