<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $school.ShortName #}-求学招生</title>
<meta name="keywords" content="{# $school.ShortName #}求学招生"/>
<meta name="description" content="{# $school.ShortName #}有的的最新求学招生"/>
{# include file="css.htm" #}
<script type="text/javascript" src="http://www.houxue.com/js/jquery/jquery.min.js"></script>
    {# 'PCHead'|get_common_config #}
</head>

<body>
{# include file="head.htm" #}
<div class="container mt10">
	{# include file="left.htm" #}
	<div class="right">
      <div class="right_box1">
   		<div class="title_bg "><span class="more">当前位置：首页> 求学招生</span><h2 class="title1" >求学招生</h2></div>
        <div class="bd r_con_info" >
		{# foreach key=rownum item=row from=$qxzsList #}
			<dl>
				<dt>
					<h3><em class="c06f fs16">@</em> {# if $row.Name #}{# $row.Name #}{# else #}{# $row.Phone|truncate:6:"" #}*****{# /if #} <span class="green pb5 fr"> [{# $row.Dtt|date_format:"%Y-%m-%d" #}]</span></h3>
				</dt>
				<dd>{# $row.Content|myfiltercontent #}</dd>
			</dl>
        {# /foreach #}
		</div>

      </div>
	</div>
</div>

{# include file="foot.htm" #}
{# 'PCStat'|get_common_config #}
</body>
</html>
