<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $school.ShortName #}-{# $CompanyLabel #}优惠券</title>
<meta name="keywords" content="{# $school.ShortName #}{# $CompanyLabel #}优惠券"/>
<meta name="description" content="{# $school.ShortName #}的最新优惠券"/>
{# include file="css.htm" #}
<script type="text/javascript" src="http://www.houxue.com/js/jquery/jquery.min.js"></script>
    {# 'PCHead'|get_common_config #}
</head>

<body>
{# include file="head.htm" #}
<div class="container mt10">
	{# include file="left.htm" #}
	<div class="right">
      <div class="right_box1">
   		<div class="title_bg "><span class="more">当前位置：{# $CompanyLabel #}首页> {# $CompanyLabel #}优惠券</span><h2 class="title1" >{# $CompanyLabel #}优惠券</h2></div>
        <div class="bd r_con_tc" >
		{# foreach key=rownum item=row from=$List #}
           <dl class="teacher">
            	<dt>
					{# if $row.ImageId > 0 #}<a href="http://www.houxue.com/xuexiao/{# $school.LoginId #}/youhuiquan/{# $row.Id #}.htm" target=_blank><img src="http://www.houxue.com/loadimage.php?id={# $row.ImageId #}&w=100&h=100" alt="{# $row.Title #}" title="{# $row.Title #}"/></a>{# else #}{# /if #}
				</dt>
                <dd>
                	<a href="http://www.houxue.com/xuexiao/{# $school.LoginId #}/youhuiquan/{# $row.Id #}.htm" target=_blank><strong class="green">{# $row.Title #}</strong></a>
                    <p>开始领取:{# $row.HoldStartDtt|date_format:"%Y-%m-%d" #}</p>
                    <p>有效期限:{# $row.ExpireDtt|date_format:"%Y-%m-%d" #}</p>
                </dd>
            </dl>
		{# /foreach #}
		</div>
      </div>
	</div>
</div>

{# include file="foot.htm" #}
{# 'PCStat'|get_common_config #}
</body>
</html>
