<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{# $school.Name #}详细信息</title>
<meta name="description" content=""/>
<meta name="keywords" content=""/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/images-s/style.css" type="text/css" media="all"  />
</head>

<body>
<div id="outwrap" class="outwrap">
  <div class="wrap">

	{#include file="head.htm"#}

	<div class="content clearfix">
	  <div class="mainarea">
	    <div style="margin-top:-15px;"><h1><a href="./">{# $school.Name #}</a>详细信息</h1></div>
		<div class="clear"></div>

		  <div class="schooltitle">
				{# if $school.MoreIntro != "" #}{# $school.MoreIntro #}<a href="#this" onclick="popupAddLead({# $school.AreaId+0 #}, {# $school.CategoryId+0 #}, {# $school.LoginId+0 #}, 0);">我要补充</a>{# else #}<img src="/images09/zwnr.gif" style="width:51px;height:14px;border:0px;" ><font id="button1222"><a id="button1222" href="#this" onclick="popupAddLead({# $school.AreaId+0 #}, {# $school.CategoryId+0 #}, {# $school.LoginId+0 #}, 0);"><img src="/images09/wytj.gif" style="width:50px;height:14px;border:0px;" ></a></font>{# /if #}
		  </div>

		<div class="clear"></div>
        <!--中间部分内容块结束-->
	  </div>


				{#include file="right.htm"#}
	</div>
  </div>
</div>

{#include file="foot.htm"#}
</body>
</html>

<div style="DISPLAY: none"><script src="http://s4.cnzz.com/stat.php?id=2844379&web_id=2844379" language="JavaScript"></script></div>