<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{# $newsdata.Title #}_{# $school.ShortName #}</title>
<meta name="keywords" content="{# $school.ShortName #}{# $subschool.SubName #},{# $school.ShortName #}{# $subschool.SubName #}报名地址,{# $school.ShortName #}{# $subschool.SubName #}电话"/>
<meta name="description" content="{# $school.ShortName #}{# $subschool.SubName #}的联系方式,报名地址,咨询电话和培训内容"/>
{# 'PCHead'|get_common_config #}
{# include file="css.htm" #}
<script language="javascript" src="http://www.houxue.com/xuexiao/js/xuexiao.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript" src="http://www.houxue.com/js/jquery/jquery.min.js"></script>
<style type="text/css">#baidumap{height:300px; width:700px; border:1px solid gray;}
</style>

</head>

<body>


{# include file="head.htm" #}
<div class="container mt10">
	{# include file="left.htm" #}
	<div class="right">
	  <div class="right_box1">
        <div class="title_bg "><span class="more">当前位置：首页> 培训新闻 > {# $newsdata.Title #}</span>
            <h2 class="title1" > {# $school.Name #}</h2>
        </div>
        <div class="bd r_con_info" >
				<div class="news_detail" >
<!--新闻标题-->
            <div class="news_detail_t ">
            	<h1 class="ffw">{# $newsdata.Title #}</h1>
                <p><span>来源：{# $school.Name #}</span><span>点击量：[{# $newsdata.Click+1 #}]</span><span>发布时间：{# $newsdata.DTT #}</span></p>
            </div>
			<div class="news_detail_con mt15">
            <br />
			<br />

                <p> {# $newsdata.Content #}</p>
            <br />
			<br />
			</div>
<!--上下一条-->
			<div class="news_detail_sele mt150">
            	<p class="up">上一条：{# if $predata.Id>0 #}<a href="http://www.houxue.com/news-{# $predata.Id #}/">{# $predata.Title #}</a>{# else #}无{# /if #}</p>
                <p class="down">下一条：{# if $nextdata.Id>0 #}<a href="http://www.houxue.com/news-{# $nextdata.Id #}/">{# $nextdata.Title #}</a>{# else #}无{# /if #}</p>
            </div>

		    </div>

        </div>
      </div>
	</div>
</div>
{# include file="foot.htm" #}
{# 'PCStat'|get_common_config #}
</body>
</html>

{# if $subschool.BaiduMapPointLng > 0 && $subschool.BaiduMapPointLat > 0 #}
<script type="text/javascript">
	var map = new BMap.Map("baidumap");
	var mapPoint = new BMap.Point({# $subschool.BaiduMapPointLng #}, {# $subschool.BaiduMapPointLat #});
	map.centerAndZoom(mapPoint, 13);
	map.addControl(new BMap.NavigationControl());
	map.enableScrollWheelZoom();
	var mapMarker = new BMap.Marker(mapPoint);
	mapLable = new BMap.Label("{# $subschool.SubName #}");
	mapSize = new BMap.Size(18,0);
	mapLable.setOffset(mapSize);
	mapMarker.setLabel(mapLable);
	mapMarker.setTitle("{# $subschool.SubName #}");
	map.addOverlay(mapMarker);

</script>
{# /if #}